
// @import 'variables.scss';
@import 'responsive.scss';


// Global Styles

body {
    margin: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 16px;

    .grid-area {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 8px;
}
