
#__next {

    @media (min-width: 576px) { }


    @media (max-width: 767px) {

        .nav-pane {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
            height: 100%;
            transform: translateX(-100%);
            transition: transform 0s 0.3s;
            
            nav {
                width: 220px;
                height: 100%;
                background-color: #1e1e1e;
                padding: 16px;
                box-sizing: border-box;
                box-shadow: 0 0 40px;
                transform: translateX(-100%);
                transition: transform 0.3s ease;

                .menu-item {
                    margin: 8px 0;
                }
            }

            &__underlay {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color 0.3s ease;
            }
            
            &.active {
                transition: transform 0s 0s;
                transform: translateX(0);

                nav {
                    transform: translateX(0);
                }
                
                .nav-pane__underlay {
                    background-color: $black-05;
                }
            }
		}
    }
    
    
    @media (min-width: 768px) {

        .brand {
            font-size: 32px;
        }

        .menu-toggle {
            display: none;
        }
        
        .nav-pane {
        
            nav {
                flex-direction: unset;
            }
        }

        .header__sub__title {
            font-size: 24px;
        }
    }
    
    
    @media (min-width: 992px) { }
    
    
    @media (min-width: 1200px) { }
}
