@import '../../Styles/variables.scss';

.topbar__main {
	position: relative;
	z-index: 1;
	background-color: $primary-color;
	box-shadow: 0 0 20px 10px $black-05;

	> .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 0;

		.brand {
			position: relative;
			z-index: 1;
			font-size: 32px;
			font-weight: bold;
			color: #fff;
		}

		nav {
			display: flex;

			.menu-item {
				padding: 8px 16px;
				color: #fff;
				margin: 0 16px;

				&:last-child {
					margin-right: 0;
				}

				&.cta {
					background-color: $secondary-color;
				}
			}
		}
	}
}

.topbar__heading {
    padding: 16px 0;
    background-color: $secondary-color;
	box-shadow: 0 0 40px 10px $black-05;

	&__text {
		font-size: 24px;
		font-weight: bold;
		font-family: raleway;
		color: #fff;
	}
}
