
#__next {

    @media (min-width: 567px) and (max-width: 767px) {

        footer .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer__backlinks {
                padding: unset;

                .social {
                    margin: 0 16px 0;
                }
            }
        }
    }

    @media (min-width: 768px) {

        .footer__menu {
            flex-direction: unset;

            .menu-item {
                border-right: 1px solid $white-07;
                padding: 0 8px;

                &:first-child {
                    padding-left: 0;
                }
        
                &:last-child {
                    border: none;
                }
            }
        }

        .footer__copyright {
            font-size: unset;
        }

        .footer__backlinks {
            justify-content: space-between;

            .social,
            .marketplace {
                flex-direction: unset;
            }

            .icon {
                margin: 0 8px;
            }

            .badge:last-child {
                height: 40px;
            }
        }
    }
}
