
@import '../../Styles/variables.scss';

footer {
    background-color: $secondary-color--darker;
    padding: 32px 0;

    .footer__menu {
        display: flex;

        .menu-item {
            padding: 0 8px;
            border-right: 1px solid $white-07;
    
            a {
                font-size: 14px;
                font-family: raleway;
                color: $white-07;
            }

            &:first-child {
                padding-left: 0;
            }
    
            &:last-child {
                border: none;
            }
        }
    }

    .footer__copyright {
        color: $white-05;
        margin: 16px 0;
    }

    .footer__backlinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;

        .social,
        .marketplace {
            display: flex;
        }

        // .icon {
        //     width: 24px;
        //     height: 24px;
        //     margin: 0 8px;
        // }

        .badge {
            margin: 0 8px;

            &:last-child {
                height: 40px;
            }
        }
    }

}
