
@import '../../Styles/variables.scss';


.search {
    margin: 32px 0 16px;
    font-family: ubuntu;
    font-size: 14px;

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search__input {
            display: flex;
            align-items: center;
            width: calc(100% / 7 * 3 - 16px);
    
            input {
                width: 100%;
                padding: 8px 16px;
                border: none;
                background-color: transparent;
                color: $secondary-color;
                font-family: ubuntu;
                outline: none;
            }
        
            button {
                cursor: pointer;
                background-color: $primary-color;
                border: none;
    
                .icon {
                    fill: #fff;
                    margin: 8px;
                }
            }
        }
    
        .search__sort {
            overflow: unset;

            .sort__control {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                &.dropped {

                    .sort__control__dropdown {
                        display: block;
                    }
                }

                &__selected {
                    min-width: 180px;
                    padding: 8px 16px;
                    color: $secondary-color;
                }

                &__indicator {

                    .icon {
                        margin: 8px;
                        fill: $primary-color;
                    }
                }

                &__dropdown {
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    left: 0;
                    display: none;
                    width: 100%;
                    background-color: #fff;

                    .dropdown__item {
                        padding: 8px 16px;
                        transition:
                            background-color 0.2s ease,
                            color 0.2s ease;

                        &:hover {
                            background-color: $primary-color;
                            color: #fff
                        }

                        // &.selected {
                        //     background-color: $primary-color;
                        //     color: #fff;
                        // }
                    }
                }
            }
        }
    }
}
